<!DOCTYPE html>
<html>
<head>
    <title>Generate Password</title>
    <script>
        const copyButton = document.querySelector('.copy-button');

copyButton.addEventListener('click', () => {
    const generatedPassword = document.querySelector('.generated-password');
    navigator.clipboard.writeText(generatedPassword.textContent);
});

    </script>
    
</head>
<body>
    <h1>Generate Password</h1>
    <form action="{% url 'manager:generate_password' %}" method="post">
        {% csrf_token %}
    
        <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
    
        <div class="field">
            <label for="length">Length</label>
            <input type="number" name="length" id="length" min="6">
        </div>
    
        <input type="submit" value="Generate Password">
    </form>
    
    {% if generated_password %}
        <div class="alert alert-success">
            Your generated password is: {{ generated_password }}
        </div>
    {% endif %}
    <a href="{% url 'manager:password_list' %}" class="btn">Password List</a>
   
</body>
</html>
