<!DOCTYPE html>
<html>
<head>
    <title>Password List</title>
</head>
<body>
    <h1>Password List</h1>
    <ul>
        {% for password in passwords %}
            <li>
                {{ password.name }}: {{ password.value }}
                <a href="{% url 'manager:update_password' password.id %}" class="btn">Edit</a>
                <a href="{% url 'manager:delete_password' password.id %}" class="btn">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'manager:generate_password' %}" class="btn">Generate Password</a>
</body>
</html>
